<%= form_for @user, url: {controller: 'welcome', action: 'login'}, html: {class: 'form-signin form-horizontal'} do |f| %>
  <div class="well">
	<h2 class="form-signin-heading">Please log in</h2>
	<div class="form-group <%=has_error(:email,@user.errors)%>">
	  <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	  <div class="col-sm-10">
		<%=f.text_field :email, :class=>"form-control", :placeholder=>"Email", :type=>"email"%>
		<span class="help-block"><%=has_error_text(:email,@user.errors)%></span>
	  </div>
	</div>

	<div class="form-group <%=has_error(:password,@user.errors)%>">
	  <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
	  <div class="col-sm-10">
		<%=f.password_field :password, :class=>"form-control", :placeholder=>"Password", :type=>"password"%>
		<span class="help-block"><%=has_error_text(:password,@user.errors)%></span>
	  </div>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </div>
  <%=link_to "Forgot my password", welcome_forgot_url()%><br>
  <%=link_to "Resend activtion email", welcome_resend_url()%>
<%end%>